@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/*page formatting for add pages*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	 scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	position: relative;
	padding-bottom: 139px;
}


/*end of pag formatting*/


/*BEGIN OF HEADER CSS*/

nav {
	z-index: 99;
	width: 100%;
	background: #242526;
	margin: 0;
	font-family: "Poppins", sans-serif;
}

nav .wrapper {
	position: relative;
	max-width: 1300px;
	padding: 0 30px;
	height: 70px;
	line-height: 70px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.wrapper .logo a {
	color: #f2f2f2;
	font-size: 30px;
	font-weight: 600;
	text-decoration: none;
}

.wrapper .nav-links {
	display: inline-flex;
}

.nav-links li {
	list-style: none;
}

.nav-links li a {
	color: #f2f2f2;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	padding: 9px 15px;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.nav-links li a:hover {
	background: #3a3b3c;
}

.nav-links .mobile-item {
	display: none;
}

.nav-links .drop-menu {
	position: absolute;
	background: #242526;
	width: 180px;
	line-height: 45px;
	top: 85px;
	opacity: 0;
	visibility: hidden;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.nav-links li:hover .drop-menu {
	transition: all 0.3s ease;
	top: 70px;
	opacity: 1;
	visibility: visible;
}

.drop-menu li a {
	width: 100%;
	display: block;
	padding: 0 0 0 15px;
	font-weight: 400;
	border-radius: 0;
}

.wrapper .btn {
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	display: none;
}

.wrapper .btn.close-btn {
	position: absolute;
	right: 30px;
	top: 10px;
}

@media screen and (max-width: 970px) {
	.wrapper .btn {
		display: block;
	}
	.wrapper .nav-links {
		position: fixed;
		height: 100vh;
		width: 100%;
		max-width: 350px;
		top: 0;
		left: -100%;
		background: #242526;
		display: block;
		padding: 50px 10px;
		line-height: 50px;
		overflow-y: auto;
		box-shadow: 0 15px 15px rgba(0, 0, 0, 0.18);
		transition: all 0.3s ease;
	}
	/* custom scroll bar */
	 ::-webkit-scrollbar {
		width: 10px;
	}
	 ::-webkit-scrollbar-track {
		background: #242526;
	}
	 ::-webkit-scrollbar-thumb {
		background: #3a3b3c;
	}
	#menu-btn:checked~.nav-links {
		left: 0;
	}
	#menu-btn:checked~.btn.menu-btn {
		display: none;
	}
	#close-btn:checked~.btn.menu-btn {
		display: block;
	}
	.nav-links li {
		margin: 15px 10px;
	}
	.nav-links li a {
		padding: 0 20px;
		display: block;
		font-size: 20px;
	}
	.nav-links .drop-menu {
		z-index: 2;
		position: static;
		opacity: 1;
		top: 65px;
		visibility: visible;
		padding-left: 20px;
		width: 100%;
		max-height: 0;
		overflow: hidden;
		box-shadow: none;
		transition: all 0.3s ease;
	}
	#showDrop:checked~.drop-menu {
		max-height: 100%;
	}
	.nav-links .desktop-item {
		display: none;
	}
	.nav-links .mobile-item {
		display: block;
		color: #f2f2f2;
		font-size: 20px;
		font-weight: 500;
		padding-left: 20px;
		cursor: pointer;
		border-radius: 5px;
		transition: all 0.3s ease;
	}
	.nav-links .mobile-item:hover {
		background: #3a3b3c;
	}
	.drop-menu li {
		margin: 0;
	}
	.drop-menu li a {
		border-radius: 5px;
		font-size: 18px;
	}
}

nav input {
	display: none;
}

.insertChallengeHere {
	height: 75vh;
}


/*BEGIN FOOTER CSS*/

footer {
	color: #d9d9d9;
	bottom: 0;
	width: 100%;
	background: #111;
	height: 130px;
	position: absolute;
}

.main-content {
	display: flex;
}

.main-content .box {
	flex-basis: 50%;
	padding: 10px 20px 0 20px;
}

.box h2 {
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
}

.box .content {
	margin: 20px 0 0 0;
	position: relative;
}

.box .content:before {
	position: absolute;
	content: "";
	top: -10px;
	height: 2px;
	width: 100%;
	background: #1a1a1a;
}

.box .content:after {
	position: absolute;
	content: "";
	height: 2px;
	width: 15%;
	background: #f12020;
	top: -10px;
}

.left .content p {
	text-align: justify;
}

.center .content .fas {
	font-size: 1.4375rem;
	background: #1a1a1a;
	height: 45px;
	width: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	transition: 0.3s;
	cursor: pointer;
}

.center .content .text {
	font-size: 1.0625rem;
	font-weight: 500;
	padding-left: 10px;
}

.bottom a {
	color: #d9d9d9;
}

.bottom {
	text-align: center;
	text-decoration: none;
}

@media screen and (max-width: 200px) {
	footer {
		position: relative;
		bottom: 0;
	}
	.main-content {
		flex-wrap: wrap;
		flex-direction: column;
	}
	.main-content .box {
		margin: 5px 0;
	}
}


/*END FOOTER CSS*/


/*START REGISTER/LOGIN CSS*/

.registerDiv {
	width: 450px;
	height: 300px;
	margin: auto;
	margin-top: 5%;
	text-align: right;
	background-color: #242526;
	color: white;
}

.registerDiv input {
	margin-top: 15px;
	margin-right: 50px;
	height: 40px;
	width: 250px;
}

.loginDiv {
	width: 450px;
	height: 200px;
	margin: auto;
	margin-top: 10%;
	text-align: right;
	background-color: #242526;
	color: white;
}

.loginDiv input {
	margin-top: 15px;
	margin-right: 50px;
	height: 40px;
	width: 250px;
}

.errorDiv {
	text-align: center;
	margin: auto;
	color: red;
}

.btn {
	border: 0.16em solid rgba(255, 255, 255, 0);
	box-sizing: border-box;
	text-decoration: none;
	font-weight: 300;
	text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
	text-align: center;
	transition: all 0.5s;
}

.btn:hover {
	border-color: grey;
}

.btn:active {
	background-color: #242526;
	color: white;
}

#regTitle {
	margin-top: 50px;
	text-align: center;
}


/*END REGISTER/LOGIN CSS*/


/*START LEADERBOARDS CSS*/

table {
	width: 100%;
	text-align: center;
	color: white;
}

td,
th {
	background-color: #242526;
	padding: 25px;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	border-radius: 5px;
}


/*END LEADERBOARDS CSS*/
/*START STORY CSS*/
.mainText{
	z-index: 1;
	float:left;
	padding: 0;
	margin:5%;
	height: 75vh;
	background-color: #242526;
	width: 55vw;
	margin-top: 9px;
	overflow:auto;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2e2f30;
  border-radius: 10px;
}
.textLeft{
	float:left;
	text-align: justify;
	border-radius: 5px;
	background-color: red;
	padding: 20px;
	margin-bottom: 80px;
	margin-left: 10px;
	color:white;
}
.textLeftSpace{
	float:left;
	width:20vw;
}
.textRight{
	float:right;
	text-align: justify;
	border-radius: 5px;
	background-color: green;
	padding: 20px;
	margin-bottom:20px;
	color:white;
}
.textRightSpace{
	float:right;
	width:60vw;
}
.leftTextDiv{
	width: 45%;
	height: 40px;
	margin-left: 1.5%;
}
.rightTextDiv{
	margin-left:52.5%;
	width: 45%;
	height: 40px;
}
.actionTextDiv{
	width: 95%;
	height: 40px;
	margin:auto;
}
.actionText{
	width: 100%;
	float:right;
	text-align: center;
	border-radius: 5px;
	background-color: white;
	padding: 20px;
	margin-bottom:20px;
}
.charImg1{
	float: left;
	margin-left: 2.5%;
}
.charImg2{
	float: left;
}
.rightImgDiv{
	float:left;
}
/*END STORY CSS*/

/*BEGIN ABOUT PAGE CSS*/
.aboutContainer{
	width: 100%;
	height: 15vh;
	background-color:  white;
}
.aboutHeader{
	text-align: center;
	color: #177BB5;
}
.minHeader{
	text-align: center;
	padding: 2%;
	color: orangered;
}
.aboutMainContainer{
	width: 100%;
	height: 60vh;
	background-color: white;
}
.aboutContainer h1{
	text-align: center;
	color: black;
	font-size: 55px;
}
.aboutUs{
	border-right: 5px solid orangered;
	float: left;
	width: 50%;
	height: 50vh;
	background-color:  #242526;
}
.aboutUs h2,.contactList h2{
	text-align: center;
	color: orangered;
}
.aboutUs p{
	padding: 15px;
	color: white;
	font-size: 25px;
	text-align: justify;
}
.contactList{
	float: right;
	width: 50%;
	height: 50vh;
	background-color:  #242526;
}
.contactList p{
	padding: 10px;
	text-align: center;
	color: white;
}
.aboutText{
	padding: 2%;
	 color: white;
}
@media screen and (max-width: 1342px)
{
	.aboutUs p
	{
		font-size: 20px;
	}

}

@media screen and (max-width: 955px)
{
	.aboutUs p
	{
		font-size: 15px;
	}
	.contactList p
	{
		font-size: 15px;
	}
}
@media screen and (max-width: 615px)
{
	.aboutContainer
	{
		height: 50px;
	}
	.aboutUs
	{
		text-align: center;
		float: left;
		width: 100%;
		height: 270px;
		border-right: none;
		border-bottom: 2px solid orangered;
	}
	.aboutUs p
	{
		font-size: 13px;
	}
	.contactList
	{
		float: left;
		width: 100%;
	}
	.contactList p
	{
		font-size: 8px;
	}
}

/*END OF ABOUT PAGE CSS*/