body {
    background-color: darkgrey;
}

#assistant {
    right: 0;
    position: absolute;
    bottom: 118px;
}

#hint {
    right: 100px;
    bottom: 230px;
    position: absolute;
    padding-left: 650px;
}

#assistant img {
    width: 120px;
    height: 120px;
}