* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a, a:active {
    color: deepskyblue;
}

p{
    color: white;
}

.container {
    width: 40%;
    margin: 0 auto;
    height: 85vh;
    background-color: #434343;
    padding: 10px;
}
.title {
    text-align: center;
    color: white;
    margin: 20px;
}

#search {
    text-align: center;
    width: 100%;
}

#item-list {
    height: 60px;
    margin-bottom: 50px;
}

.search-input{
    width: 100%;
    height: 20%;
    background-color: #006B38FF;
    float: left;
}

.submit-button{
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 5px;

}

.search table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.tableOfContent th
{
    width: 45px;
    padding: 0;
}
.tableOfContent td
{
    padding: 0;

}
.querylist-item {
    background-color: #006B38FF;
    float: left;
}

.highlight{
    background-color: lightcyan;
}


.target-slot{
    width: 50px;
    height: 30px;
    float: left;
    background-color: whitesmoke;

    
}
.errorTextSql
{
    color: red;
}
.item {
    margin: 10px;
    width: 75px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    float: left;
}

.item-text {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
    font-family: Arial;
    float: left;
}

.delete-item {
    background-color: red;
    float: right;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-left: 0px;
}
@media only screen and (max-width: 1630px) {
    .submit-button{
        width: 90%;
        height: 50px;
        margin: 0 auto;
    }
    .tableOfContent th
    {
        width: 45px;
        padding: 0;
        font-size: 10px;
    }
    .tableOfContent td
    {
        padding: 0;
        font-size: 10px;
    }
}

@media only screen and (max-width: 750px) {
   .target-slot
   {
    float: left;
   }
    .tableOfContent th
    {
        width: 45px;
        padding: 0;
        font-size: 10px;
    }
    .tableOfContent td
    {
        padding: 0;
        font-size: 10px;
    }
}
@media only screen and (max-width: 600px) {
    #item-list
    {

    }
    .tableOfContent th
    {
        font-size: 10px;
    }
    .errorTextSql
    {
        font-size: 12px;
    }
    .item {
        margin: 10px;
        width: 50px;
        height: 40px;
        border-radius: 5px;
        text-align: center;
        float: left;
    }
    .submit-button{
        width: 20%;
        height: 30px;
        margin: 0 auto;
    }
    .title h1
    {
        font-size: 20px;
    }
    .tableOfContent th
    {
        width: 45px;
        padding: 0;
        font-size: 10px;
    }
    .tableOfContent td
    {
        padding: 0;
        font-size: 10px;
    }
}
@media only screen and (max-width: 530px) {
   .container
   {
       width: 50%;
   }
    .errorTextSql
    {
        font-size: 10px;
    }
    .search-input
    {
        display: flex;
        flex-wrap: wrap;
    }
}