body {
    background-color: darkgrey;
}

#assistant {
    right: 0;
    position: fixed;
    bottom: 124px;
}

#hint {
    margin-left: 76vw;
    margin-top: -10vh;
    height: auto;
    width: 300px;
    position: fixed;
    border-radius: 5px;
    padding: 5px;
}
#assistant img {
    width: 120px;
    height: 120px;
}
