.queryList-item{
    background-color: lightgreen;
}

.highlight{
    background-color: lightcyan;
}

.buffer{
    width: 300;
    height: 300px;
}


.empty-item{
    background-color: lightgray;
}

.item{
    width: 75px;
    height: 75px;
    float: left;
    margin: 5px;
}

.delete-item{
    background-color: red;
    text-align: center;
}